<app-header>    </app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Add Work Order</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Work Orders</li>
        <li class="breadcrumb-item active">Add New</li>
      </ol>
    </nav>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">New Work Order Form</h5>
      <form [formGroup]="neworderFG " class="row g-3 ">
        <div class="col-md-6 "> <label for="inputName5" class="form-label">Demandeur :</label> <input formControlName="demandeur" type="text" class="form-control" id="inputName5">
        <small class="text-danger text-sm"*ngIf="neworderFG.controls['demandeur'].touched &&neworderFG.controls['demandeur'].errors
          &&neworderFG.controls['demandeur'].errors!['required']||(submitted&&neworderFG.controls['demandeur'].errors )" >This field is required !</small></div>
        <div class="col-md-6"> <label for="inputEmail5" class="form-label">Remarque :</label> <input type="text" formControlName="remarque" name="cin" class="form-control" id="inputEmail5"></div>

          <div class="col-md-4"> <label class="form-label">N°fiche d'Intervention :</label> <input type="number" formControlName="n_fiche_Intervention" class="form-control" id="filenumb"></div>
          <div class="col-md-4"> <label class="form-label">Frais de la mission :</label> <input type="number" formControlName="frais_Mission" class="form-control" id="frai"></div>
          <div class="col-md-4"> <label class="form-label">Hebergement :</label> <input type="number" formControlName="hebergement" class="form-control" id="hebr"></div>


        <div class="col-md-3"> <label  class="form-label">Debut Previsionnel</label> <input formControlName="debut_Previsionnel" type="date" class="form-control" id="inputZip">
          <small class="text-danger text-sm"*ngIf="neworderFG.controls['debut_Previsionnel'].touched &&neworderFG.controls['debut_Previsionnel'].errors
          &&neworderFG.controls['debut_Previsionnel'].errors!['required']||(submitted&&neworderFG.controls['debut_Previsionnel'].errors )" >This field is required !</small></div>
        <div class="col-md-3"> <label  class="form-label">Fin Previsionnel</label> <input formControlName="fin_Previsionnel" type="date" class="form-control" id="fin">
          <small class="text-danger text-sm"*ngIf="neworderFG.controls['fin_Previsionnel'].touched &&neworderFG.controls['fin_Previsionnel'].errors
          &&neworderFG.controls['fin_Previsionnel'].errors!['required']||(submitted&&neworderFG.controls['fin_Previsionnel'].errors )" >This field is required !</small></div>
        <div class="col-md-3"> <label  class="form-label">Debut Réel</label> <input formControlName="debut_Reel" name="debut_Reel" type="date" class="form-control" id="deb"></div>
        <div class="col-md-3"> <label  class="form-label">Fin Réel</label> <input formControlName="fin_Reel" type="date" class="form-control" id="dfin"></div>
        <div class="col-md-3">
          <label  class="form-label">Status <i class="bi bi-shield-fill-check text-success " ></i></label>
          <select formControlName="statut" id="input" class="form-select">

            <option value="Activer">Activer</option>
            <option value="Desactiver">Desactiver</option>
          </select>
        </div>
        <div *ngIf="neworderFG.invalid&&submitted " class="alert alert-danger alert-dismissible fade show" role="alert"> <i class="bi bi-exclamation-octagon me-1"></i> Please fill this fields with valid values : <i class="small" *ngIf="neworderFG.get('demandeur')?.getError('required')">*-demandeur required</i>
          <i class="small" *ngIf="neworderFG.get('debut_Previsionnel')?.getError('required')">*-Debut Previsionnel required</i>
          <i class="small" *ngIf="neworderFG.get('fin_Previsionnel')?.getError('required')">*-Fin Previsionnel required</i> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
  <button class="btn btn-outline-primary"(click)="onbooladdAffaire()">Add Affaire To this Work Order</button>
    <div *ngIf="addaffaire==true" class="border-top  border-primary border-1">
      <h3 class="text-center card-title">Add Affaire to Work Order </h3>
      <div class="input-group " style="width: 350px">
        <span class="input-group-text btn-outline-primary " id="basic-addon1">Designation</span>
        <input type="text" class="form-control" placeholder="Search..." aria-label="Designation" aria-describedby="basic-addon1">
      <button class="btn-outline-primary bi bi-search" (click)="OnsearchAffaire(Keyword)"></button>
      </div>

      <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Designation</th>
              <th scope="col">Date Debut</th>
            <th scope="col">Date Cloture</th>
            <th scope="col">Montant</th>
            <th scope="col">Choose</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let a of affaires">
            <td>{{a.designation_Affaire}}</td>
            <td>{{a.date_Debut}}</td>
            <td>{{a.date_Cloture}}</td>
            <td>{{a.montant}}</td>
            <td><button class="btn btn-outline-primary" (click)="getAffaireid(a.n_Affiaire)">Pick </button></td>
          </tr>
          </tbody>
        </table>
      <ul  class="nav nav-pills">
        <li *ngFor=" let b of [].constructor(paginationaffaire);let pageAffaire=index" >
          <a (click)="getTopageAffaire(pageAffaire)" class="btn btn-outline-primary" >{{pageAffaire}}</a>
        </li>
      </ul>
      <div *ngIf="affaire.n_Affiaire">
      <h3 class="text-center card-title"> Affaire Picked </h3>

      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Designation</th>
          <th scope="col">Date Debut</th>
          <th scope="col">Date Cloture</th>
          <th scope="col">Montant</th>
          <th scope="col">Picked</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{affaire.designation_Affaire}}</td>
          <td>{{affaire.date_Debut}}</td>
          <td>{{affaire.date_Cloture}}</td>
          <td>{{affaire.montant}}</td>
          <td><h4 class=" bi bi-check2-circle text-success"></h4></td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
        <div class="text-center"> <button type="submit" class="btn btn-primary col-2  me-1" (click)="OnAddorder()">Save</button> <button type="reset" class="btn btn-secondary ms-1">Reset</button></div>
      </form>
    </div>
  </div>

</main>
