<app-header>    </app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Affaire Detail</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Affaires</li>
        <li class="breadcrumb-item active">Detail</li>
      </ol>
    </nav>
  </div>
  <section class="section profile">
    <div class="row ">


      <div class="col-xl-8">
        <div class="card">
          <div class="card-body pt-3">
            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item"> <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button></li>
              <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Update Affaire</button></li>
              <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-afftecter">Affecter un Article</button></li>
            </ul>
            <div class="tab-content pt-2">
              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h4 class="card-title text-center">{{affaire.designation_Affaire}}  Details</h4>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label ">Bon de Commande</div>
                  <div class="col-lg-5 col-md-4">{{affaire.bon_de_Commande}}</div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label">Budget Service</div>
                  <div class="col-lg-5 col-md-4">{{affaire.montant_budgetaire_Service| number}}</div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label">Budget Matriel</div>
                  <div class="col-lg-5 col-md-4">{{affaire.montant_budgetaire_Matriel| number}}</div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label">Montant de Vente</div>
                  <div class="col-lg-5 col-md-4 ">{{affaire.montant_Vente|number}}</div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label">Montant</div>
                  <div class="col-lg-5 col-md-4">{{affaire.montant | number}}</div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label">Date de Debut</div>
                  <div class="col-lg-5 col-md-4">{{affaire.date_Debut}}</div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label">Date d'Execution</div>
                  <div class="col-lg-5 col-md-4 ">{{affaire.date_passage_Execution}}</div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label">Date de Cloture</div>
                  <div class="col-lg-5 col-md-4 ">{{affaire.date_Cloture}}</div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label">Status</div>
                  <div class="col-lg-5 col-md-4 "><i *ngIf="affaire.statut=='Activer'" class="bi bi-shield-fill-check text-success " >Activer</i>
                    <i *ngIf="affaire.statut=='Desactiver'" class="bi bi-shield-fill-x text-secondary " >Desactiver</i></div>
                </div>

              </div>
              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                <form>

                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Designation</label>
                    <div class="col-md-8 col-lg-9"> <input [(ngModel)]="affaire.designation_Affaire" name="fullName" type="text" class="form-control" id="fullName" ></div>
                  </div>

                  <div class="row mb-3">
                    <label for="company" class="col-md-4 col-lg-3 col-form-label">Bon de Commande</label>
                    <div class="col-md-8 col-lg-9"> <input [(ngModel)]="affaire.bon_de_Commande" name="company" type="text" class="form-control" id="company" ></div>
                  </div>
                  <div class="row mb-3">
                    <label for="Job" class="col-md-4 col-lg-3 col-form-label">Montant</label>
                    <div class="col-md-8 col-lg-9"> <input [(ngModel)]="affaire.montant"name="job" type="number" class="form-control" id="Job" ></div>
                  </div>
                  <div class="row mb-3">
                    <label for="Country" class="col-md-4 col-lg-3 col-form-label">Budget Matriel</label>
                    <div class="col-md-8 col-lg-9"> <input [(ngModel)]="affaire.montant_budgetaire_Matriel" name="country" type="number" class="form-control" id="Country" ></div>
                  </div>
                  <div class="row mb-3">
                    <label for="Address" class="col-md-4 col-lg-3 col-form-label">Budget Service</label>
                    <div class="col-md-8 col-lg-9"> <input [(ngModel)]="affaire.montant_budgetaire_Service" name="address" type="number" class="form-control" id="Address" ></div>
                  </div>
                  <div class="row mb-3">
                    <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Montant Vente</label>
                    <div class="col-md-8 col-lg-9"> <input [(ngModel)]="affaire.montant_Vente" name="phone" type="number" class="form-control" id="Phone" ></div>
                  </div>
                  <div class="row mb-3">
                    <label for="Email" class="col-md-4 col-lg-3 col-form-label">Date de Debut</label>
                    <div class="col-md-8 col-lg-9"> <input [(ngModel)]="affaire.date_Debut" name="email" type="date" class="form-control" id="Email" ></div>
                  </div>
                  <div class="row mb-3">
                    <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Date Cloture</label>
                    <div class="col-md-8 col-lg-9"> <input [(ngModel)]="affaire.date_Cloture" name="twitter" type="date" class="form-control" id="Twitter" ></div>
                  </div>
                  <div class="row mb-3">
                    <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Date d'Execution</label>
                    <div class="col-md-8 col-lg-9"> <input [(ngModel)]="affaire.date_passage_Execution" name="facebook" type="date" class="form-control" id="Facebook" ></div>
                  </div>
                  <div class="row mb-3">
                    <label  class="col-md-4 col-lg-3 col-form-label">lieu multiple par Mission</label>
                    <div class="col-md-8 col-lg-9">  <select [(ngModel)]="affaire.lieu_multiple_par_Mission" name="lieu" id="ffff" class="form-select">

                      <option value="false">Non</option>
                      <option value="true">Oui</option>
                    </select></div>
                  </div>
                  <div class="row mb-3">
                    <label  class="col-md-4 col-lg-3 col-form-label">Status</label>
                    <div class="col-md-8 col-lg-9"> <select [(ngModel)]="affaire.statut" name="statut" id="input" class="form-select">

                      <option value="Activer">Activer</option>
                      <option value="Desactiver">Desactiver</option>
                    </select> </div>
                  </div>
                  <div class="text-center"> <button (click)="OnUpdate()" class="btn btn-primary">Save Changes</button></div>
                </form>
              </div>
              <div class="tab-pane fade pt-3" id="profile-afftecter">
                <form>
                  <div class="row mb-3">
                    <h2 class="card-title text-center">Affecter un Article  </h2>


                        <table class="table table-hover">
                          <thead>
                          <tr>
                            <th scope="col">Designation</th>
                            <th scope="col">Q Realisee</th>
                            <th scope="col">Q Contractuelle</th>
                            <th scope="col">Status</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let a of articlesFind">
                            <td>{{a.designation}}</td>
                            <td>{{a.quantite_Realisee| number}}</td>
                            <td>{{a.quantite_Contractuelle | number}}</td>
                            <td>{{a.statut}}</td>
                            <td><button  (click)="getAffecter(a.code)" class="btn btn-outline-primary"  > Pick</button></td>
                          </tr>
                          </tbody>
                        </table>
                        <ul *ngIf="(articlesFind.length)%size+1" class="nav nav-pills">
                          <li *ngFor=" let b of [].constructor((articlesFind.length)/size+1);let pagearticle=index" >
                            <a (click)="getTopageArticle(pagearticle)" class="btn btn-outline-primary" >{{pagearticle}}</a>
                          </li>
                        </ul>
                      </div>
                  <h2 class="card-title text-center">Veuillez Confirmer</h2>
                  <table *ngIf="articleAffecter" class="table table-hover">
                    <thead>
                    <tr>
                      <th scope="col">Designation</th>
                      <th scope="col">Q Realisee</th>
                      <th scope="col">Q Contractuelle</th>
                      <th scope="col">Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr >
                    <td>{{articleAffecter.designation}}</td>
                    <td>{{articleAffecter.quantite_Realisee| number}}</td>
                    <td>{{articleAffecter.quantite_Contractuelle | number}}</td>
                    <td>{{articleAffecter.statut}}</td>
                  </tr>
                  </tbody>
                  </table>
                    <div class="text-center"> <button  class="btn btn-primary" [disabled]="articleAffecter.code==null" (click)="OnAffecter(articleAffecter.code)">Affecter </button></div>

                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column ">
            <h2 class="text-center">Les Articles </h2>
            <h3 class="text-center">De {{affaire.designation_Affaire}}</h3>
            <div *ngFor="let a of articles" class="card-body border-top border-bottom border-primary border-1">
              <i class="m-0 col-lg-12">Designation : {{a.designation}}</i>

              <div class="row">
                <div class="m-0 col-lg-12 label"><i>Quantite Contractuelle : {{a.quantite_Contractuelle | number}}</i></div>
              </div>
              <div class="row">
                <div class="m-0 col-lg-12 label"><i>Quantite Realisee : {{a.quantite_Realisee | number}}</i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
