<app-header>    </app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Affaire Detail</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Affaires</li>
        <li class="breadcrumb-item active">Detail</li>
      </ol>
    </nav>
  </div>
  <section class="section profile">
    <div class="row ">


      <div class="col-xl-8">
        <div class="card">
          <div class="card-body pt-3">
            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item"> <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button></li>
              <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Update Affaire</button></li>
              <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-afftecter">Affecter un Article</button></li>
            </ul>
            <div class="tab-content pt-2">
              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h4 class="card-title text-center">{{affaire.designation_Affaire}}  Details</h4>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label ">Bon de Commande</div>
                  <div class="col-lg-5 col-md-4">{{affaire.bon_de_Commande}}</div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label">Budget Service</div>
                  <div class="col-lg-5 col-md-4">{{affaire.montant_budgetaire_Service| number}}</div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label">Budget Matriel</div>
                  <div class="col-lg-5 col-md-4">{{affaire.montant_budgetaire_Matriel| number}}</div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label">Montant de Vente</div>
                  <div class="col-lg-5 col-md-4 ">{{affaire.montant_Vente|number}}</div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label">Montant</div>
                  <div class="col-lg-5 col-md-4">{{affaire.montant | number}}</div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label">Date de Debut</div>
                  <div class="col-lg-5 col-md-4">{{affaire.date_Debut| date :'EEEE, MMMM d, y, h:mm a'}}</div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label">Date d'Execution</div>
                  <div class="col-lg-5 col-md-4 ">{{affaire.date_passage_Execution | date :'EEEE, MMMM d, y, h:mm a'}}</div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label">Date de Cloture</div>
                  <div class="col-lg-5 col-md-4 ">{{affaire.date_Cloture | date :'EEEE, MMMM d, y, h:mm a'}}</div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label">Status</div>
                  <div class="col-lg-5 col-md-4 "><i *ngIf="affaire.statut=='Activer'" class="bi bi-shield-fill-check text-success " >Activer</i>
                    <i *ngIf="affaire.statut=='Desactiver'" class="bi bi-shield-fill-x text-secondary " >Desactiver</i></div>
                </div>

              </div>
              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                <form>

                 <app-update-affaire></app-update-affaire>
                </form>
              </div>
              <div class="tab-pane fade pt-3" id="profile-afftecter">
                <form>
                 <app-affecter-article></app-affecter-article>
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column ">
            <h2 class="text-center">Les Articles </h2>
            <h3 class="text-center">De {{affaire.designation_Affaire}}</h3>
            <div *ngFor="let a of articles" class="card-body border-top border-bottom border-primary border-1">
              <i class="m-0 col-lg-12">Designation : {{a.designation}}</i>

              <div class="row">
                <div class="m-0 col-lg-12 label"><i>Quantite Contractuelle : {{a.quantite_Contractuelle | number}}</i></div>
              </div>
              <div class="row">
                <div class="m-0 col-lg-12 label"><i>Quantite Realisee : {{a.quantite_Realisee | number}}</i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
